## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
%config IPCompleter.greedy=True

# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Evensk,RU,61.9500,159.2333,28.62,78,100,16.71,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,40.66,81,100,13.80,light rain
2,2,Zeya,RU,53.7500,127.2667,32.14,44,97,4.74,overcast clouds
3,3,Sitka,US,57.0531,-135.3300,42.84,89,90,3.58,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,64.18,72,52,5.01,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is you desired minimum temperature for your trip? "))
max_temp = float(input("What is you desired maximum temperature for your trip? "))

What is you desired minimum temperature for your trip? 75
What is you desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Xiamen,CN,24.4798,118.0819,78.85,83,0,8.95,clear sky
19,19,Banda Aceh,ID,5.5577,95.3222,81.63,81,100,9.51,heavy intensity rain
22,22,Tecoanapa,MX,16.5167,-98.7500,83.62,58,1,2.59,clear sky
33,33,Mahebourg,MU,-20.4081,57.7000,77.29,69,75,12.66,broken clouds
47,47,Butaritari,KI,3.0707,172.7902,79.90,83,26,14.74,light rain
51,51,Tiarei,PF,-17.5333,-149.3333,75.22,75,9,3.42,light rain
53,53,Soyo,AO,-6.1349,12.3689,82.47,75,97,10.00,overcast clouds
57,57,Khorixas,NaN,-20.3667,14.9667,87.80,18,4,4.52,clear sky
60,60,Mitsamiouli,KM,-11.3847,43.2844,81.82,76,93,7.27,light rain
61,61,Atuona,PF,-9.8000,-139.0333,79.05,68,38,16.78,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Xiamen,CN,24.4798,118.0819,78.85,83,0,8.95,clear sky
19,19,Banda Aceh,ID,5.5577,95.3222,81.63,81,100,9.51,heavy intensity rain
22,22,Tecoanapa,MX,16.5167,-98.7500,83.62,58,1,2.59,clear sky
33,33,Mahebourg,MU,-20.4081,57.7000,77.29,69,75,12.66,broken clouds
47,47,Butaritari,KI,3.0707,172.7902,79.90,83,26,14.74,light rain
...,...,...,...,...,...,...,...,...,...,...
525,525,Jinji,CN,23.2281,110.8261,77.90,87,0,3.06,clear sky
527,527,Kalabo,ZM,-14.9700,22.6814,77.00,57,66,6.33,broken clouds
537,537,Salinopolis,BR,-0.6136,-47.3561,82.99,77,51,10.09,broken clouds
538,538,Kisangani,CD,0.5167,25.2000,83.89,58,45,2.75,scattered clouds
540,540,Havelock,US,34.8791,-76.9013,77.95,71,6,5.99,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Xiamen,CN,78.85,clear sky,24.4798,118.0819,
19,Banda Aceh,ID,81.63,heavy intensity rain,5.5577,95.3222,
22,Tecoanapa,MX,83.62,clear sky,16.5167,-98.7500,
33,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,
47,Butaritari,KI,79.90,light rain,3.0707,172.7902,
51,Tiarei,PF,75.22,light rain,-17.5333,-149.3333,
53,Soyo,AO,82.47,overcast clouds,-6.1349,12.3689,
60,Mitsamiouli,KM,81.82,light rain,-11.3847,43.2844,
61,Atuona,PF,79.05,scattered clouds,-9.8000,-139.0333,
64,Pangai,TO,78.76,moderate rain,-19.8000,-174.3500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Xiamen,CN,78.85,clear sky,24.4798,118.0819,Xiamen Dongchen Hotel
19,Banda Aceh,ID,81.63,heavy intensity rain,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
22,Tecoanapa,MX,83.62,clear sky,16.5167,-98.7500,Hotel Manglares
33,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
47,Butaritari,KI,79.90,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
518,Puerto Ayacucho,VE,83.14,overcast clouds,5.6639,-67.6236,Posada Turistica Manapiare
527,Kalabo,ZM,77.00,broken clouds,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
537,Salinopolis,BR,82.99,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
538,Kisangani,CD,83.89,scattered clouds,0.5167,25.2000,Grand Ramela Hotel
540,Havelock,US,77.95,clear sky,34.8791,-76.9013,Sherwood Motel

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))